.content{
  padding: 30px;
}
.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  width: 580px;
  font-size: 28px;
  color: #999999;
  &-name{
    font-size: 32px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.tag{
  font-size: 28px;
  color: #666666;
  &-num{
    font-size: 32px;
    color: red;
    font-weight: bold;
  }
}
.price{
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  &-num{
    font-size: 32px;
    color: red;
    font-weight: bold;
  }
  &-num:nth-child(2){
    font-size: 24px;
    color: #999999;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 20px;
  }
}
.recommend-title{
  font-size: 24px;
  color: #999999;
  margin: 30px 0px 20px;
}
.recommend-con{
  border: 2px solid #DDDDDD;
  background: #f5f5f5;
}
.recommend-list{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  color: #333333;
  &-index{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 2px solid #ab2b2b;
    border-radius: 100%;
    color: #ab2b2b;
    text-align: center;
    margin-right: 10px;
  }
}
